ul.social-network{
    list-style: none;
    padding: 0;
}

ul.social-network li{
    display: inline;
    margin: 0;
    padding: 5px;

}
.fa{
    font-size: 35pt;
    color: white;
    padding: 10px;
}


.fa-github-alt{
    color: black;
}
.fa-github-alt:hover{
    color: gray;
}
 footer {
          background-image: url('../../assets/img/rodapeverdepng.png');
          background-size: 60% 70%;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
 }