
<footer class="page-footer font-small background-color-white pt-4" >
    <div class="container ">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-black">
                    Veja o projeto no GitHub
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="social-network">
                    <li>
                        <a href="https://github.com/Anderson815/Financiamento_Ecoletivo" target="_blank" class="icoGithub">
                            <i class="fa fa-github-alt" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer-copyright py-3 col-md-12 d-flex justify-content-center font-weight-bold">
                <span class="text-light ">
                    Financiamento Ecoletivo ©
                </span>
            </div>
        </div>
    </div>
    


    </footer>