<div class="container-fluid">

  <div class="row">

    <div class="col-md-6" id='img-bg'></div>

    <div class="col-md-6 mt-5 mb-5">

      <div class="row d-flex justify-content-center">
        <div class="col-md-8">
          <h3 class="text-center">Junte-se a nós!</h3>
          <h6 class="text-center">Crie sua conta e faça parte da nossa comunidade.</h6>
          <hr>
          <div class="form-group">
            <label for="usuario">Usuário</label>
            <input [(ngModel)]='user.nome' class="form-control" type="text" name="usuario" id ="usuario" placeholder="Digite seu usuário">
          </div>

          <div class="form-group">
            <label for="email" >E-mail</label>
            <input [(ngModel)]='user.email' class="form-control" type="text" name="email" id ="email" placeholder="Digite seu e-mail">
          </div>

          <div class="form-group">
            <label for="linkFoto">Link da foto</label>
            <input [(ngModel)]='user.foto' class="form-control" type="text" name="linkFoto" id="linkFoto"
                placeholder="Link da sua foto">
          </div>

          <div class="form-group">
            <label for="senha">Senha</label>
            <input (input)='confirmSenha($event)' class="form-control" type="password" name="senha" id ="senha" placeholder="Digite uma senha">
          </div>

          <div class="form-group">
            <label for="confirmSenha">Confirme sua senha</label>
            <input [(ngModel)]='user.senha' class="form-control" type="password" name="confirmSenha" id ="confirmSenha" placeholder="Por favor, digite sua senha novamente">
          </div>

          <div class="form-group">
            <label for="tipo">Tipo de Usuário</label>
            <select class="form-control" name="tipo" id="tipo" (change)='tipoUser($event)'>
                <option>Selecio um tipo de usuário:</option>
                <option value="normal">Normal</option>
                <option value="admin">Administrador</option>
            </select>
          </div>

          <div class="d-flex justify-content-center my-5">
            <button type="submit" routerLink="/inicial" class="btn btn-outline-danger mx-3">Cancelar</button>
            <button (click)='cadastrar()' type="submit" class="btn btn-outline-success ml-3">Cadastrar</button>
          </div>
          </div>
        </div>
      </div>
  </div>
</div>
