#sobre{
  /* background-color: rgb(236, 233, 228); */
  background-image: url("../../assets/img/fundotextura.png");
  background-size: cover;
  
}

p{
  font-family: Verdana, Geneva, Tahoma, sans-serif, 'Times New Roman', Times, serif;
}

a{
  font-size: 14pt;
  text-decoration: none;
}

a:hover{
  color: rgb(24, 158, 113);
  font-weight: 600;
}

img {
  border-radius: 30px;
  box-shadow: 0px 0px 5px black;
}

#img-brasil{
  border-radius: 0px;
  box-shadow: none;
  filter: drop-shadow(0px 0px 5px black);
}