<div id="sobre" class="container-fluid py-5">
  <div class="row d-flex justify-content-center align-items-center" data-aos="fade-up-right">
    <div class="col-md-6 p-5 text-center">
      <h2 class=" my-3 font-weight-bold">Seja Protagonista!<!-- Vida em primeiro lugar --></h2>
      <p class="text-center">
<!--         Idealizado a partir do ODS Vida Terrestre, possibilitamos por meio da tecnologia a união das pessoas para proteger a natureza e preservar a vida. Venha fazer parte dessa corrente! -->

        Você já pensou em participar de algo importante?
        Financiamento Ecoletivo é uma plataforma de crowdfunding focada em causas ambientais

      </p>
        <a routerLink="/cadastrar">Cadastre-se</a>
    </div>
    <div class="col-md-6 px-5">
      <img class="w-100 rounted" src="https://imgur.com/ix0fDs4.jpg" alt="objetivo da ods">
    </div>
  </div>

  <div class="row d-flex justify-content-center align-items-center my-5" data-aos="fade-up-left">
    <div class="col-md-6 px-5">
      <img class="w-100 rounted" src="https://imgur.com/wTX6ynd.jpg" alt="funcionalidade da plataforma">
    </div>

    <div class="col-md-6 p-5 text-center">
      <h2 class=" my-3 font-weight-bold">Crie projetos!</h2>
      <p class="text-center">
<!--         Nosso sistema permite você criar projetos voltado ao meio ambiente e todos os demais usuários poderão ver e contribuir com o seu trabalho para melhorar o planeta -->
        Nosso site permite os usuários estabelecerem objetivos com metas, onde todos poderão fazer doações, e assim, ajudar o nosso querido planeta.
        Construimos uma estrutura que permite ao usuário compartilhar ideias e projetos de proteção ambiental, determinando metas e objetivos, criando uma rede de pessoas com interesse em comum de salvar nosso planeta, e potencializando os impactos de suas ideias através de colaborações e doações de outros usuários. 

      </p>
        <a routerLink="/cadastrar">Cadastre-se</a>
    </div>
  </div>

  <div class="row d-flex justify-content-center align-items-center" data-aos="fade-up-right">
    <div class="col-md-6 p-5 text-center">
      <h2 class=" my-3 font-weight-bold">Faça parte agora mesmo!</h2>
      <p class="text-center">
<!--         Faça parte de diversos projetos por todo o Brasil, seja um colaborador das causas ambientais por nosso país que natureza e a sociedade agradecem -->

        Conecte-se agora mesmo com outras pessoas de todo o Brasil e venha cuidar do nosso querido planeta!
      </p>
        <a routerLink="/cadastrar">Cadastre-se</a>
    </div>
    <div class="col-md-6 px-5 d-flex justify-content-center">
      <img src="https://imgur.com/pImSzEw.jpg" alt="Brasil" id="img-brasil">
    </div>
  </div>
</div>
