.foto-perfil{
  width: 50px;
  height: 50px;
}

#timeline{
  background-color: rgb(236, 233, 228);
}
.fotoMidia{
    width: 50vw;
    height: 70vh;
}

.redondo{
  border-radius: 15px;
}


<!--Menu-->
/* Navbar */

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}

header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: background-color .5s ease;
    z-index: 1000;
}

.container{
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.nav{
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #76b734;
    /* border-bottom: 1.5px solid #222B2B; */
    /* transition: height .5s ease; */
}

.nav a{
    text-decoration: none;
    color: #76b734;

    font-size: 1.4rem;
}

.nav .logo{

    font-weight: bold;
}

.nav-list{
    list-style: none;
    display: flex;
    margin-right: auto;
    margin-left: 4rem;
}

.nav-link{
    margin: 0 2rem;
    position: relative;
}

.nav-link::after{
    content: '';
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: -3px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s ease;
}

.nav-link:hover::after{
    transform: scaleX(1);
}

#nav-cta{

    display: inline-block;
    background-color: #E6F2D3;
    color: #222B2B;
    padding: 0rem 1rem;
    border-radius: 1rem;
    transition: background-color .5s ease;
}

#nav-cta:hover{
    background-color: #d3d3d3;
}


/* Menu */
.txt-v {
    color: #ffffff;
    font-weight: 500!important;
    font-size: 22px;
    font-weight: bold;
}


/* Card Perfil */
.card-perfil{
    position: fixed;

}


/* CSS DOS CARDS DE FILTRAGEM */
.card-header-first{
	margin-top:-40px;
    height: 80px;
	/* background: linear-gradient(-90deg, #56BFA5, #76b734); */
    background: #006837


}

.card-section{
  -webkit-box-shadow: 6px 6px 11px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 6px 11px -1px rgba(0,0,0,0.75);
  box-shadow: 6px 6px 11px -1px rgba(0,0,0,0.75);
}

.botaoTP {
  width: 170px;
  height: 35px;
  background-color: white;
  border-color: #ced4da;
  }

/* .card-section:hover{
	box-shadow:1px 1px 20px #d2d2d2;
} */
.botaoFiltro{
    width: 130px;
    height: 30px;
    font-size:15px;
    font-family:Verdana;
    border-width:1px;
    color:rgb(255, 255, 255);
    border-color:rgb(255, 255, 255);
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
    background: rgba(0, 104, 55, 1);
}
.botaoFiltro:hover{
  background: rgb(0, 0, 0);
  color: white;
}
.card-filtro{
    z-index: 999;
    position:fixed;
    margin-top: -40px;
    display: flex;
    justify-content: flex-end;
    right: 0;
}
.card-header-first2{
    margin-top:-40px;
    height: 95px;
    /* background: linear-gradient(-90deg, #76b734, #56BFA5); */
    background: #006837
}

.botoes {
  width: 190px;
  height: 35px;
}

.foto-card-perfil{
    width: 50px;
    height: 50px;
  }
.ajuste{
    width: 310.67px;
    margin-left: -5px;
    margin-top:-40px;

}
.cor{
    background-color: rgb(238, 238, 238)
}

.fa-handshake-o{
  color: rgb(224, 56, 84);
}

.fa-flag{
  color: rgb(29, 168, 29);
}
.margem{
    margin-top: 70px;
}
.margemCard{
    margin-top: 112px;
}
.margemPerfil{
  padding-left: 35px;
}
.corBtn{
    color: black;
}

/* ___________________________________________________ */

@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,600);
.snip1336 {
  font-family: 'Roboto', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  /* min-width: 230px; */
  max-width: 100%;
  width: 100%;
  color: #ffffff;
  text-align: left;
  line-height: 1.4em;
  background-color: #332b29;
  margin-left: -1%;
  border-radius: 15px 15px 15px 15px;
-moz-border-radius: 15px 15px 15px 15px;
-webkit-border-radius: 15px 15px 15px 15px;
border: 4px double #ffffff;
  -webkit-box-shadow: 11px 11px 12px -1px rgba(0,0,0,1);
  -moz-box-shadow: 11px 11px 12px -1px rgba(0,0,0,1);
  box-shadow: 11px 11px 12px -1px rgba(0,0,0,1);
}
.snip1336 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.snip1336 img {
  max-width: 100%;
  vertical-align: top;
  opacity: 0.85;
}
.snip1336 figcaption {
  width: 100%;
  background-color: #332b29;
  padding: 25px;
  position: relative;
}
.snip1336 figcaption:before {
  position: absolute;
  content: '';
  bottom: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 80px 0 0 190px;
  border-color: transparent transparent transparent #332b29;
}
.snip1336 figcaption a {
  padding: 5px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 0.7em;
  text-transform: uppercase;
  margin: 10px 0;
  display: inline-block;
  opacity: 0.65;
  width: 47%;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
}
.snip1336 figcaption a:hover {
  opacity: 1;
}
.snip1336 .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 100%;
  left: 25px;
  z-index: 1;
  width: 100px;
  height: 100px;
  opacity: 1;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
.snip1336 .follow {
  margin-right: 4%;
  border-color: #2980b9;
  color: #2980b9;
}
.snip1336 h2 {
  margin: 0 0 5px;
  font-weight: 300;
}
.snip1336 h2 span {
  display: block;
  font-size: 0.5em;
  color: #2980b9;
}
.snip1336 p {
  margin: 0 0 10px;
  font-size: 0.8em;
  letter-spacing: 1px;
  opacity: 0.8;
}

/* BARRA DE PROGRESSÃO */
.fund {
    background-color:rgba(0,0,0,.06);
    border-radius:4px;
    margin:0 0 4%;
    padding:2.5% 3.5%;
    }

    .fund:last-child {
    margin-bottom:4%;
    }

    .progress {
    background-color:#bdd3fb;
    border-radius:4px;
    box-shadow:0 1px 1px rgba(0,0,0,.15) inset;
    height:27px;
    margin-bottom:2%;
    overflow:hidden;
    }

    .bar {
    background-color:#df0d0d;
    box-shadow:0 -1px 1px rgba(0,0,0,.15) inset;
    color:#fff;
    float:left;
    height:100%;
    position:relative;
    text-align:left;

    }

    .bar > .percent {
    font-size:.9rem;
    left:8px;
    position:absolute;
    top:3px;
    }

    .goal {
    color:#dfe2ed;
    }

    .donate {
    color:#fff;
    float:right;
    font-weight:400;
    text-decoration:none;
    }

    .donate:hover {
    text-decoration:underline;
    }


    /* Responsive */

    @media only screen and (max-width:600px) {
        h1 {
        font-size:2rem;
        margin:8% 0;
        }

        .fund {
        margin:0 0 10%;
        padding:5%;
        }
    }

    @media only screen and (max-width:480px) {
        h1 {
        font-size:1.4rem;
        }

        .donate {
        display:block;
        float:none;
        margin-top:3%;
        }
    }
    .margemEditar{
        margin-right: -6%;
    }
    .botaoDoar {
      font-size:15px;
      font-family:Verdana;
      width:100%;
      height:50px;
      border-width:1px;
      color:rgba(0, 0, 0, 1);
      border-color:rgb(255, 255, 255);
      border-top-left-radius:3px;
      border-top-right-radius:3px;
      border-bottom-left-radius:3px;
      border-bottom-right-radius:3px;
      background:rgba(255, 255, 255, 1);
    }

    .botaoDoar:hover {
      background: #2980b9;
      color: white;
    }
    .botaoEditar{
      font-size:15px;
      font-family:Verdana;
      width:45%;
      height:50px;
      border-width:1px;
      color:rgba(0, 0, 0, 1);
      border-color:rgb(255, 255, 255);
      border-top-left-radius:3px;
      border-top-right-radius:3px;
      border-bottom-left-radius:3px;
      border-bottom-right-radius:3px;
      background:rgba(255, 255, 255, 1);
    }
    .botaoEditar:hover{
      background: #2980b9;
      color: white;
    }
    .botaoApagar{
      font-size:15px;
      font-family:Verdana;
      width:45%;
      height:50px;
      border-width:1px;
      color:rgba(0, 0, 0, 1);
      border-color:rgb(255, 255, 255);
      border-top-left-radius:3px;
      border-top-right-radius:3px;
      border-bottom-left-radius:3px;
      border-bottom-right-radius:3px;
      background:rgba(255, 255, 255, 1);
    }
    .botaoApagar:hover{
      background: rgb(214, 13, 13);
      color: white;
    }
    .jumbotron{
      background-color: rgba(238, 233, 228)
    }
