<!-- Criar Postagem -->
<!--
<div class="container">
  <div class="row d-flex align-items-center">
    <div class="card">
      <div class="card-body">
        <button class="btn btn-outline-secondary" data-toggle="modal" data-target="#novaPostagem">Insira sua
          publicação</button>
      </div>
    </div>
  </div>
</div> -->

<!--Menu-->
<header>
  <section>
    <div class="container pl-0 pr-0">
      <nav class="nav">
        <li class="nav-item active ml-3">
          <img src="{{foto}}" alt="Imagem do usuário" width="50px" height="50px" class="img-fluid rounded-circle">
        </li>

        <li class="nav-item mr-auto">
          <p class="m-0 txt-v font-weight-bold pl-2">{{nome}}</p>
        </li>

        <div class="mr-3">
          <a routerLink="/inicial" id="nav-cta" class="btn">Sair</a>
        </div>

      </nav>
    </div>
  </section>
</header>

<!-- Card de Postagem -->

<div id="timeline" class="container-fluid">

  <div class="row d-flex justify-content-center pt-5 mt-5">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="row d-flex align-items-center">
            <div class="col-md-2 pr-0">
              <img class="foto-perfil rounded-circle"src="{{user.foto}}" alt="Imagem do card">
            </div>
            <div class="col pl-0">
              <button class="btn btn-outline-success w-100 py-2 redondo" data-toggle="modal" data-target="#novaPostagem">Faça um projeto</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row d-flex justify-content-center">
    <div class="col-md-6">
      <div class="card text-center my-5" style="" *ngFor='let item of listaPostagens'>

        <div class="card-header text-left">
          <div class="row">
            <div class="col-md-2 pr-0">
              <img class="foto-perfil rounded-circle"src="{{item.usuario.foto}}" alt="Imagem do card">
            </div>
            <div class="col pl-0">
              <p class="m-0">
                <span>{{item.usuario.nome}} - </span>
                <span>{{item.tema.tema}}</span>
              </p>
              <p class="m-0">
                <small class="text-muted">{{item.data | date: 'dd/MM/yyyy'}} às {{item.data | date:
                  'HH:mm'}}</small>
              </p>
            </div>
          </div>
        </div>
<!--         <small class="text-muted"> Tema: {{item.tema.tema}}</small> -->
        <h3 class="card-title mt-3">{{item.titulo}}</h3>
        <div class="card-body">
          <div *ngIf='imagemOk(item.midia)'>
            <img class="card-img-top" src="{{item.midia}}" alt="Imagem do card">
          </div>

        <app-doacao></app-doacao>
        <app-postagem-edit [postagem] = 'postagemEdit'></app-postagem-edit>
        <app-postagem-delete [postagem] = 'postagemEdit'></app-postagem-delete>

<!--           <ul class="list-group list-group-flush">
            <li class="list-group-item">Arrecadado: R$ {{item.valor_doado}}</li>
            <li class="list-group-item">Meta: R$ {{item.meta}}</li>
          </ul> -->
          <hr>
          <p>
            <span class="mr-2">Arrecadado: R$ {{item.valor_doado}}</span>
            <span class="ml-2">Meta: R$ {{item.meta}}</span>
          </p>


          <!-- <p class="card-text"><small class="text-muted">{{item.data | date: 'dd/MM/yyyy'}} às {{item.data | date:
              'HH:mm'}}</small></p> -->

          <div id="deletarAtualizarPostagem" *ngIf='minhaPostagem(item.usuario.id)'>
            <button type="button" class="btn btn-success mr-3" data-toggle="modal"
              data-target="#editarPostagem" (click)='editarPostagem(item)'>Editar
            </button>

            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#excluirPostagem"
              (click)='editarPostagem(item)'>
              Excluir
            </button>
          </div>

          <div *ngIf='outraPostagem(item.usuario.id)'>
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#excluirPostagem"
                (click)='editarPostagem(item)'>
                Doar
            </button>
          </div>

          <app-postagem-edit [postagem] = 'postagemEdit'></app-postagem-edit>
          <app-postagem-delete [postagem] = 'postagemEdit'></app-postagem-delete>

        </div>
      </div>
    </div>
  </div>
</div>

<app-publicar></app-publicar>
<app-postagem-delete [postagem]="postagemEdit"></app-postagem-delete>
<app-postagem-edit [postagem]="postagemEdit"></app-postagem-edit>
