<!-- Criar Postagem -->
<div class="container">
  <div class="row d-flex align-items-center">
    <div class="card">
      <div class="card-body">
        <button class="btn btn-outline-secondary" data-toggle="modal" data-target="#novaPostagem">Insira sua
          publicação</button>
      </div>
    </div>
  </div>
</div>
<h1 class="text-center mt-3">Timeline</h1>
<app-publicar></app-publicar>

<!-- Card de Postagem -->

<div class="container-fluid">
  <div class="card-columns">
    <div class="card text-center mt-3" style="width: 18rem;" *ngFor='let item of listaPostagens'>

      <div class="card-header"> by: {{item.usuario.nome}}</div>
      <small class="text-muted"> Tema: {{item.tema.tema}}</small>
      <h3 class="card-title mt-3">{{item.titulo}}</h3>
      <div class="card-body">
        <img class="card-img-top" src="{{item.midia}}" alt="Imagem de capa do card">
        <p class="card-text-center mt-3">{{item.descricao}}</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Arrecadado: R$ {{item.valor_doado}}</li>
          <li class="list-group-item">Meta: R$ {{item.meta}}</li>
        </ul>
        <p class="card-text"><small class="text-muted">{{item.data | date: 'dd/MM/yyyy'}} às {{item.data | date:
            'HH:mm'}}</small></p>

        <div id="deletarAtualizarPostagem" *ngIf='minhaPostagem(item.usuario.id)'>
          <button type="button" class="btn btn-success mr-3" data-toggle="modal"
            data-target="#editarPostagem" (click)='editarPostagem(item)'>Editar
          </button>

          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#excluirPostagem"
            (click)='editarPostagem(item)'>
            Excluir
          </button>
        </div>

        <div *ngIf='outraPostagem(item.usuario.id)'>
          <button type="button" class="btn btn-success mt-3" data-toggle="modal" data-target="#excluirPostagem"
              (click)='editarPostagem(item)'>
              Doar
          </button>
        </div>

        <app-postagem-edit [postagem] = 'postagemEdit'></app-postagem-edit>
        <app-postagem-delete [postagem] = 'postagemEdit'></app-postagem-delete>

      </div>
    </div>
  </div>
</div>




<!-- Botão para acionar modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ExemploModalCentralizado">
    Abrir modal de demonstração
  </button>
<app-postagem-delete></app-postagem-delete> -->

<!-- Botão para acionar modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#atualizarPostagem" (click)='editarPostagem(3)'>
  Modal de Put Postagem
</button>
<app-postagem-edit></app-postagem-edit> -->
