<!--Menu-->
<!-- <nav class="navbar navbar-expand-md navbar-default bg-dark fixed-top">
    <a class="navbar-brand" href="#" style="color: rgb(197, 230, 13);">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" style="color: rgb(197, 230, 13);" href="#">Sobre<span class="sr-only" >(página inicial)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" style="color: rgb(197, 230, 13);" href="#">Equipe</a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto d-flex align-items-center">
            <a class="nav-item nav-link" style="color: rgb(197, 230, 13);" href="#">Entrar</a>
            <a class="nav-item nav-link" style="color: rgb(197, 230, 13);" routerLink="/cadastrar">Cadastrar</a>
        </ul>
    </div>
</nav>
 -->
<!--  <header>
    <div class="container">
        <nav class="nav">
            <a href="index.html" class="logo">Fineco</a>
            <ul class="nav-list">
                <li>
                    <a href="index.html" class="nav-link">Home</a>
                </li>
                <li>
                    <a href="#" class="nav-link">Sobre</a>
                </li>
                <li>
                    <a href="#" class="nav-link">Equipe</a>
                </li>
            </ul>
            <div class="pr-3">
                <a href="#" id="nav-cta">Entrar</a>
            </div>

            <a href="#" id="nav-cta">Cadastrar</a>
        </nav>
    </div>
</header> -->


<header>
    <div class="container">
        <nav class="nav">
            <a href="index.html" class="logo">Fineco</a>
            <ul class="nav-list">
                <li>
                    <a href="index.html" class="nav-link">Home</a>
                </li>
                <li>
                    <a href="#" class="nav-link">Sobre</a>
                </li>
                <li>
                    <a href="#" class="nav-link">Equipe</a>
                </li>
            </ul>
            <div class="pr-3">
              <a  id="nav-cta" data-toggle="modal" data-target="#login">Entrar</a>
            </div>
            <a routerLink="/cadastrar" id="nav-cta">Cadastrar</a>
        </nav>
    </div>
</header>
