
<!--Menu-->
<nav class="navbar navbar-expand-md navbar-default bg-dark fixed-top">
    <a class="navbar-brand" href="#" style="color: rgb(197, 230, 13);">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" style="color: rgb(197, 230, 13);" href="#">Sobre<span class="sr-only" >(página inicial)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" style="color: rgb(197, 230, 13);" href="#">Equipe</a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto d-flex align-items-center">
            <a class="nav-item nav-link" style="color: rgb(197, 230, 13);" href="#">Entrar</a>
            <a class="nav-item nav-link" style="color: rgb(197, 230, 13);" routerLink="/cadastrar">Cadastrar</a>
        </ul>
    </div>
</nav>


