
<section class="equipe">
    <div class="jumbotron jumbotron-fluid corJ">
        <div class="row text-center">
            <div class="col-lg-8 mx-auto col-md-12 col-sm-12 col-12">
                <h1>Criado com <i class="fa fa-heart coracao" aria-hidden="true"></i> por</h1>
            </div>
        </div>
      </div>
    <div id='equipe' class="container py-5 ">
<!--         <div class="row text-center">
            <div class="col-lg-8 mx-auto col-md-12 col-sm-12 col-12">
                <h1>Criado com <i class="fa fa-heart coracao" aria-hidden="true"></i> por</h1>
            </div>
        </div> -->
        <div class="row pt-0">
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="row">
                    <div class="col-lg-5 col-dm-6 col-sm-6 col-6">
                        <img src="../../assets/img/camillaDev.jpg" class="img-fluid" alt="Camilla">
                    </div>
                    <div class="col-lg-7 col-dm-6 col-sm-6 col-6 pt-3">
                        <h5>Camilla Campos</h5>
                        <p>Em transição profissional da área de Design para Tecnologia, acredito na educação como ferramenta de desenvolvimento pessoal e transformação, além de ser uma admiradora da arte e da psicologia.</p>
                        <a href="https://www.linkedin.com/in/valisopmacamilla/" target="_blank"><span><i class="fa fa-linkedin-square" aria-hidden="true"></i></span></a>
                        <a href="https://github.com/sopmacamilla" target="_blank"><span><i class="fa fa-github-square" aria-hidden="true"></i></span></a>
                        <span></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="row">
                    <div class="col-lg-5 col-dm-6 col-sm-6 col-6">
                        <img src="../../assets/img/andersonDev.jpg" class="img-fluid" alt="Camilla">
                    </div>
                    <div class="col-lg-7 col-dm-6 col-sm-6 col-6 pt-3">
                        <h5>Anderson Correia</h5>
                        <p>Entusiasta e apaixonado por programação, focado em resolver problemas, busco uma oportunidade de contribuir e somar a grandes equipes de T.I. Quero utilizar a lógica para desenvolver a sociedade.
                          </p>
                        <a href="https://www.linkedin.com/in/anderson-correia/" target="_blank"><span><i class="fa fa-linkedin-square" aria-hidden="true"></i></span></a>
                        <a href="https://github.com/Anderson815/" target="_blank"><span><i class="fa fa-github-square" aria-hidden="true"></i></span></a>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="row">
                    <div class="col-lg-5 col-dm-6 col-sm-6 col-6">
                        <img src="../../assets/img/tamiresDev.jpg" class="img-fluid" alt="Camilla">
                    </div>
                    <div class="col-lg-7 col-dm-6 col-sm-6 col-6 pt-3">
                        <h5>Tamires Alves</h5>
                        <p>Formada em ciências contábeis, em transição de carreira para área de Desenvolvimento Web na Ong Generation Brasil. Sou uma pessoa persistente e resiliente, sempre buscando aprender coisas novas e melhorar minhas habilidades.</p>
                        <a href="https://www.linkedin.com/in/tamires-alves-dos-santos-8893591a9/" target="_blank"><span><i class="fa fa-linkedin-square" aria-hidden="true"></i></span></a>
                        <a href="https://github.com/TamiresAlvesS" target="_blank"><span><i class="fa fa-github-square" aria-hidden="true"></i></span></a>
                        <span></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="row">
                    <div class="col-lg-5 col-dm-6 col-sm-6 col-6">
                        <img src="../../assets/img/caioDev.jpg" class="img-fluid" alt="Camilla">
                    </div>
                    <div class="col-lg-7 col-dm-6 col-sm-6 col-6 pt-3">
                        <h5>Caio Vitor</h5>
                        <p>Profissional FullStack, sou apaixonado pela informática e
                            
                            extremamente dedicado a tudo que me comprometo a
                            realizar, seja na vida pessoal ou no ambiente de
                            trabalho.</p>
                        <a href="https://www.linkedin.com/in/caiovitorfdev/" target="_blank"><span><i class="fa fa-linkedin-square" aria-hidden="true"></i></span></a>
                        <a href="https://github.com/caio199307" target="_blank"><span><i class="fa fa-github-square" aria-hidden="true"></i></span></a>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
</section>
