img{
    -webkit-box-shadow: -1px 3px 13px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 3px 13px 3px rgba(0,0,0,0.75);
    box-shadow: -1px 3px 13px 3px rgba(0,0,0,0.75);
}
p{
    /* font-weight: lighter; */
    color: black;
}
.fa-linkedin-square{
    color:  #32CD32;
    font-size: 21px;
    padding: 0 10px;
  

    
}
.fa-github-square{
    color: #32CD32;
    font-size: 21px;
    
}
.fa-linkedin-square:hover{
    color: gray;
    font-size: 25px;
}
.fa-github-square:hover{
    color: gray;
    font-size: 25px;
    
    
}
/* .equipe{
    background-image: url('../../assets/img/fundoEquipe.jpg');
    background-size: 100% 100%;
} */
.equipe{
    background-color: rgb(236, 233, 228);

}
.coracao{
    color: rgb(255, 0, 0);
}
