<!-- Modal -->
<div class="modal fade" id="editarPostagem" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="TituloModalCentralizado">Editar Projeto</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">

          <div class="form-group">
              <label for="titulo">Título</label>
              <input [(ngModel)]='postagem.titulo' type="text" class="form-control" id="titulo"
                  placeholder="Digite o título">
          </div>

          <div class="form-group">
              <label for="texto">Texto</label>
              <textarea [(ngModel)]='postagem.descricao' class="form-control" name="texto" id="texto" placeholder="Digite uma descrição do projeto" rows="3"></textarea>
          </div>

          <div class="form-group">
            <label for="midia">Midia</label>
            <input [(ngModel)]='postagem.midia' type="midia" class="form-control" id="midia" placeholder="Se desejar, insira o link de uma imagem ou vídeo">
          </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger" data-dismiss="modal" (click)="cancelar()">Cancelar</button>
            <button type="button" class="btn btn-outline-success"
                data-dismiss="modal" (click)='atualizar()'>Atualizar</button>
        </div>
    </div>
</div>
</div>
