<!--Home-->
<div id="home" class="container-fluid fi t-bg p-0">
  <div class="row d-flex justify-content-center">
    <div class="col-md-4 pl-0 pr-0 pt-5 mt-5">

      <img class="img-fluid" src="../../assets/img/Logo2.png" alt="logo" id="logo">
    </div>
  </div>

</div>

   <!-- Modal -->
<div class="modal fade bg-modal" id="login" tabindex="-1" role="dialog" aria-labelledby="TituloLoginCentralizado" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">

    <div class="row d-flex justify-content-center">
      <div class="col-md-4" >
        <div class="modal-header d-flex justify-content-center">
          <img class="displayed ml-3" src="https://i.imgur.com/fM18JIJ.png" alt="Logo: Financiamento Ecoletivo">
        </div>
      </div>
    </div>
  <!-- //d-flex justify-content-center md-3
     >-->
    <div class="modal-body" >
        <div class="form-group">
          <label for="email">E-Mail:</label>
          <input [(ngModel)]='userLogin.email' class="form-control" type="text" name="email" id="email" placeholder="Seu e-mail">
        </div>
        <div class="form-group">
          <label for="senha">Senha:</label>
          <input [(ngModel)]='userLogin.senha' class="form-control" type="password" name="senha" id="senha" aria-describedby="passwordHelpBlock" placeholder="Digite sua senha">

          <div class="d-flex justify-content-center my-5">
          <button (click)='entrar()' type="button" class="btn btn-outline-success btn-lg btn-block" data-dismiss="modal">Entrar</button></div>
        </div>
          <div class="text-center" >Não tem uma conta?<button type="button" class="btn btn-link" data-dismiss="modal" routerLink="/cadastrar">Cadastre-se</button></div>
        <div class="modal-footer">
          <button type="button" routerLink="/inicial" class="btn btn-outline-danger" data-dismiss="modal">Fechar</button>
        </div>
     </div>
</div>
</div>
