.fi {
  background-image: url('https://1.bp.blogspot.com/-s_P5gZxWF0A/ThdStM0g_gI/AAAAAAAACZA/EcV_Pw6Na-k/s1600/planicie-verde-ao-por-do-sol-imagens-imagem-de-fundo-wallpaper-para-pc-computador-tela-gratis-ambiente-de-trabalho.jpg');
  
 background-size: cover;
  opacity: .90;
}

.t-bg {
  width: 100vw;
  height: 100vh;
}

#logo{
  width: 28%;
  margin-top: 120px;
}


/* https://i.imgur.com/jSSRnVG.jpg%27 */