.fi {
  background-image: url('https://image.freepik.com/free-photo/green-bokeh-tree-leaves-nature-out-focus-background_55716-1606.jpg');
  background-size: cover;
  opacity: .90;
}

.t-bg {
  width: 100vw;
  height: 100vh;
}

#logo{
  width: 28%;
  margin-top: 170px;
}


/* https://i.imgur.com/jSSRnVG.jpg%27 */